[core]
	editor = code
    excludesfile = /home/dmiller/.gitignore
	autocrlf = false
[alias]
    amend = commit -v --amend
    cm = commit -m
    rpull = pull --rebase --stat
    me = log --author="dmiller"
    d = difftool
    cp = cherry-pick
[grep]                                                                                                                           
    linenumber = true        
[user]
	name = Dan Miller
    email = dan@dmiller.io
[commit]
    template = ~/.gitmessage
[push]
    default = simple
[status]
    showUntrackedFiles = all
[diff]
    tool = icdiff
[difftool]
    prompt = false
[difftool "icdiff"]
    cmd = /usr/bin/icdiff --no-bold --line-numbers $LOCAL $REMOTE
