[core]
	editor = code --wait
    excludesfile = /home/dan/.gitignore
	autocrlf = false
[alias]
    amend = commit -v --amend
    cm = commit -m
    co = checkout
    rpull = pull --rebase --stat
    me = log --author="dmiller"
    d = difftool
    cp = cherry-pick
    rb = branch --sort=-committerdate
[grep]
    linenumber = true
[user]
	name = Dan Miller
    email = dmiller@windmill.engineering
[commit]
    #template = ~/.gitmessage
[push]
    default = simple
[status]
    showUntrackedFiles = all
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
