[core]
	editor = nvim
    excludesfile = /home/dmiller/.gitignore
	autocrlf = false
[alias]
    amend = commit --amend
    cm = commit -m
    rpull = pull --rebase --stat
    me = log --author="dmiller"
    abba = "!echo \"#disco 💃 abba 💃 fm dmiller: $(git show | gist -t diff) -- $(git log -1 --pretty='format:%s')\" | nc irccat.etsycorp.com 12345"

